<!DOCTYPE html>
<html>
  <head>
    <title>Date Filter</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1> Driving Behavior Analysis </h1>
    <div class="cube-container">
        <div class="box">
            <h2>Overview of each driver's behavior</h2>
            <form id="date-form" method="post" action="/filter">
            <label for="start-date">Start Date:</label>
            <input
              type="date"
              id="start-date"
              name="start-date"
              value="2017-01-01"
              required
            />
            <label for="end-date">End Date:</label>
            <input
              type="date"
              id="end-date"
              name="end-date"
              value="2017-01-10"
              required
            />
            <br><br>
            <button type="submit">Filter</button>
          </form>
        </div>
      
        <div class="box">
            <h2>Real-time monitoring of each driver’s driving speed</h2>
            <form id="driver-id-form" method="post" action="/monitor">
            <label for="driverid">Driver ID:</label>
            <input type="string" id="driverid" name="driverid" required />
            <br><br>
            <button type="submit">Monitor</button>
          </form>
        </div>
      </div>
    <script>
      $("#driver-id-form").submit(function (e) {
        var driverid = $("#driverid").val(); // Get the driverid from the input field
        localStorage.setItem("driverid", driverid); // Store the driverid in localStorage
      });
    </script>
  </body>
</html>
