<!DOCTYPE html>
<html>
<head>
    <title>Date Filter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <h1>Summary</h1>
    <div class="cube-container">
        <form id="date-form" method="post" action="/filter">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" value="2017-01-01" required>
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" value="2017-01-10" required>
            <button type="submit">Filter</button>
        </form>
    </div>
    <div id="table-container">
        {% if result %}
        <table>
            <thead>
                <tr>
                    <th>Driver ID</th>
                    <th>Car Plate Number</th>
                    <th>Sum Rapidly Speedup</th>
                    <th>Sum Rapidly Slowdown</th>
                    <th>Sum Neutral Slide</th>
                    <th>Sum Neutral Slide Finished</th>
                    <th>Sum Neutral Slide Time</th>
                    <th>Sum Overspeed</th>
                    <th>Sum Overspeed Finished</th>
                    <th>Sum Overspeed Time</th>
                    <th>Sum Fatigue Driving</th>
                    <th>Sum Hthrottle Stop</th>
                    <th>Sum Oil Leak</th>
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[11] }}</td>
                    <td>{{ row[12] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    
    <div id="chart-container"></div>
    
    <script>
        var labels = [];
        var sumsRapidlySpeedup = [];
        var sumsRapidlySlowdown = [];
        var sumsNeutralSlide = [];
        var sumsNeutralSlideFinished = [];
        var sumsOverspeed = [];
        var sumsOverspeedFinished = [];
        var sumsFatigueDriving = [];
        var sumsHthrottleStop = [];
        var sumsOilLeak = [];

        var result = JSON.parse('{{ result | tojson | safe }}');

        result.forEach(function(row) {
            labels.push(row[0]);
            sumsRapidlySpeedup.push(row[2]);
            sumsRapidlySlowdown.push(row[3]);
            sumsNeutralSlide.push(row[4]);
            sumsNeutralSlideFinished.push(row[5]);
            sumsOverspeed.push(row[7]);
            sumsOverspeedFinished.push(row[8]);
            sumsFatigueDriving.push(row[10]);
            sumsHthrottleStop.push(row[11]);
            sumsOilLeak.push(row[12]);
        });

        // bar chart
        Highcharts.chart('chart-container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Result Chart'
            },
            xAxis: {
                categories: labels,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Sum'
                }
            },
            series: [
                {
                    name: 'Sum Rapidly Speedup',
                    data: sumsRapidlySpeedup
                },
                {
                    name: 'Sum Rapidly Slowdown',
                    data: sumsRapidlySlowdown
                },
                {
                    name: 'Sum Neutral Slide',
                    data: sumsNeutralSlide
                },
                {
                    name: 'Sum Neutral Slide Finished',
                    data: sumsNeutralSlideFinished
                },
                {
                    name: 'Sum Overspeed',
                    data: sumsOverspeed
                },
                {
                    name: 'Sum Overspeed Finished',
                    data: sumsOverspeedFinished
                },
                {
                    name: 'Sum Fatigue Driving',
                    data: sumsFatigueDriving
                },
                {
                    name: 'Sum Hthrottle Stop',
                    data: sumsHthrottleStop
                },
                {
                    name: 'Sum Oil Leak',
                    data: sumsOilLeak
                }
            ]
        });
    </script>
</body>
</html>