/* styles.css */

table {
    border-collapse: collapse;
    width: 100%;
}

#chart-container {
    margin-top: 50px;
}

.cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 100px;
    margin: 100px;
    text-align: center;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

#date-form, #driver-id-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

input[type="date"]:focus {
    outline: none;
    border-color: #4CAF50; /* Green color */
}